@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <img src="http://www.cegep-heritage.qc.ca/conted/_images/banner.jpg">
    <br>
    <p>Learn about <a href="http://www.cegep-heritage.qc.ca/conted/aecs/standard/web-desktop.php">Web and Desktop Programming (with Intership)</a>.</p>
    <p>NOW ACCEPTING APPLICATIONS for Fall 2019</p>
     <a href="http://www.cegep-heritage.qc.ca/Institution/Services/disclaimer.htm"><img src="http://flyprofessional.com/core/wp-content/uploads/2013/09/login.png"></a>
</div>
