@page
@model PrivacyModel
@{
    ViewData["Title"] = "PRIVACY of Cégep Heritage College";
}
<h3>@ViewData["Title"]</h3>

<p>
    The<strong> Cégep Heritage College </strong> wesite and all its contents are protected by intellectual property or proprietary rights.

    You may use the Heritage College web site and content for your personal, noncommercial purposes only. Heritage College makes its web site available as a source of information only and every effort are made to ensure the accuracy of its content. Use of this site is at the discretion of the user and Heritage College cannot be held responsible of any outcomes resulting from the use of this web site.

    This web site contains links to other web sites. Heritage College is not responsible for the availability, content, services, privacy or other policies and practices of any web sites to which it links to.

    Heritage College reserves the right to make changes without prior notice.  

</p>
<p><a href="https://localhost:5001/Courses"><strong>Rights On Line</strong></a></p>